@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: #1a2a66;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ebf0f1;

  & h2,
  & h3,
  & .logo,
  & header a,
  & nav a {
    font-family: "Bungee", sans-serif;
    font-weight: 500;
  }

  /* Início do Header */
  & header {
    background-color: #1a2a66;
    padding: 1.5rem 20rem;
    color: #ebf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      color: inherit;
      text-decoration: none;
    }

    & .logo {
      font-size: 2.4rem;
    }

    & nav {
      display: flex;
      column-gap: 2rem;
      & a {
        font-size: 1.2rem;
      }
    }
  }
  /* Fim do Header */

  /* Início do Main */
  & main {
    padding: 0 20rem;
    margin-top: 2rem;

    & h2 {
      color: #1a2a66;
      margin: 1rem 0;
    }

    & p {
      color: #1a2a66;
    }

    & .about {
      display: flex;
      column-gap: 2rem;
      justify-content: space-between;
      margin-bottom: 3.5rem;

      & .image {
        & img {
          width: 35rem;
        }
      }

      & .description {
        & p:nth-of-type(1) {
          margin-bottom: 0.6rem;
        }

        & .logos {
          margin-top: 0.5rem;
          display: flex;
          column-gap: 1rem;
          & img {
            height: 1.5rem;
          }
        }
      }
    }

    & .contact {
      & > div {
        display: flex;
        justify-content: space-between;

        & h3 {
          color: #1a2a66;
          margin-bottom: 2rem;
        }

        & form {
          display: flex;
          flex-direction: column;
          width: 38%;
          row-gap: 1rem;

          & input:nth-of-type(1) {
            margin-top: -1rem;
          }

          & input {
            padding: 0.4rem;

            &::placeholder {
              font-size: 1rem;
            }
          }

          & textarea {
            padding: 0.4rem;
            resize: none;

            &::placeholder {
              font-size: 1rem;
            }
          }

          & button {
            padding: 1rem;
            font-weight: 900;
            font-size: 1rem;
            color: #ebf0f1;
            background-color: #1a2a66;
            border: none;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background-color: #374a91;
            }
          }
        }

        & .follow-us {
          margin-right: -12rem;
          display: flex;
          flex-direction: column;
          width: 33.333%;

          & div {
            & img {
              height: 2rem;
              margin-right: 1rem;
            }
          }
        }

        & .location {
          display: flex;
          flex-direction: column;
          width: 33.333%;
        }
      }
    }
  }
  /* Fim do Main */

  /* Início do Footer */
  & footer {
    background-color: #1a2a66;
    padding: 2rem 0;
    color: #ebf0f1;
    font-size: 1.2rem;
    margin-top: 4rem;
    text-align: center;
  }
  /* Fim do Footer */
}

/* Responsividade */

@media screen and (max-width: 1025px) {
  header {
    padding: 1.5rem 12rem !important;
  }
  main {
    padding: 0 12rem !important;
  }
}

@media screen and (max-width: 915px) {
  .image img {
    width: 30rem !important;
  }

  form {
    width: 30% !important;

    & input,
    & textarea {
      font-size: 1.1rem !important;
    }
  }
}

@media screen and (max-width: 769px) {
  header {
    padding: 1.5rem 8rem !important;
  }

  main {
    & .about {
      flex-direction: column;
      align-items: center !important;
    }

    & .contact {
      & > div {
        flex-direction: column !important;
        row-gap: 4rem;

        & form {
          width: 80% !important;
        }

        & .follow-us {
          width: 80% !important;
          margin-right: 0 !important;
          align-items: center !important;
        }

        & .location {
          width: 80% !important;
          align-items: center !important;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    & .logo {
      font-size: 1.6rem !important;
    }

    & nav a {
      font-size: 1rem !important;
    }
  }

  .image img {
    width: 35rem !important;
  }

  .description {
    min-width: 32rem;
  }

  .contact {
    min-width: 32rem;
  }
}

@media screen and (max-width: 426px) {
  html {
    font-size: 58% !important;
  }

  header {
    padding: 1rem 4rem !important;

    & .logo {
      font-size: 2rem !important;
    }

    & nav {
      & a {
        font-size: 0.9rem !important;
      }
    }
  }

  main {
    padding: 0 4rem !important;

    & h2 {
      font-size: 1.8rem;
    }

    & h3 {
      margin-bottom: 0.5rem !important;
    }
  }
}

@media screen and (max-width: 321px) {
  header {
    justify-content: center !important;

    & nav {
      display: none !important;
    }
  }

  .image img {
    width: 30rem !important;
  }
}
